{% extends 'base.html' %}

{% block title%}
Dash
{% endblock %}

{% block content %}
    <div class="jumbotron jumbotron-fluid h-200" style="border-bottom: 4em;">
        <div class="container">
            <div class="container" style="padding-left: 30%; padding-bottom: 4em;">
                    
                <h3 class="display-3">
                    <small class="text-muted">Dash</small>.board
                </h3>
                <div class="d-flex w-100 justify-content-between">
                    <form method="post">
                        <!-- {% csrf_token %} -->
                        <!-- {{ form.as_p }} -->
                        {% csrf_token %}
                        <div class="form-group">
                            <label>What are you <em><strong>Task</strong></em>ed with?</label>
                            <br>
                            {{form.title}}
                        </div>
                        <div class="form-group">
                            <label>Okay, what <strong>about</strong> it?</label>
                            <br>
                            {{form.description}}
                        </div>
                        <div class="form-group">
                            <label>Ah, okay. But, its <strong>deadline</strong>?</label>
                            {{form.deadline}}
                        </div>
                        {{form.owner}}
                        <input type="submit" value="Add task" class="btn btn-info w-100">
                    
                    </form>
                </div>

            </div>

            <hr class="my-6">
            <div class="d-flex w-100 justify-content-between">
                <h2>Your Tasks</h2>
                <ul class="nav nav-pills">
                    Show: &nbsp;
                    <li class="active">
                        <a data-toggle="pill" href="#all-tasks">All</a>&nbsp;|&nbsp;
                    </li>
                    <li>
                        <a data-toggle="pill" href="#remaining-tasks">Remaining</a>&nbsp;|&nbsp;
                    </li>
                    <li>
                        <a data-toggle="pill" href="#completed-tasks">Completed</a>
                    </li>
                    
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane list-group active" id="all-tasks">
                    {% if tasks|length == 0 %}
                    <span class="d-flex justify-content-center">
                        <h4 class="text-muted">No tasks</h4>
                    </span>
                    {% endif %}
                    {% for task in tasks %}
                    <div class="list-group-item list-group-item-action bg-light">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">
                                {% if task.complete %}
                                    <em><strike>{{ task.title }}</strike></em>
                                {% else %}
                                    <strong>{{ task.title }}</strong>
                                {% endif %}
                            </h5>
                            <small class="text-muted">Deadline: {{ task.deadline | date:"D f A, d M Y"}}</small>
                        </div>
                        <span class="d-flex w-75">
                            {{ task.description| truncatewords:10 }}
                        </span>
                        <br>
                        <div class="d-flex w-100 justify-content-between">
                            <div>
                                <small class="text-muted">Created: {{ task.created | date:"D f A, d M Y" }}</small>
                            </div>
                            <div>
                                <a href="{% url 'view_task' task.id %}">View</a>
                                <a href="{% url 'edit_task' task.id %}">Edit</a>
                                <a href="{% url 'delete_task' task.id %}">Delete</a>
                            </div>
                            
                        </div>
                        
                    </div>
                    {% endfor %}
                </div>
                
                <div class="tab-pane list-group fade" id="remaining-tasks">
                    {% if remaining_tasks|length == 0 %}
                    <span class="d-flex justify-content-center">
                        <h4 class="text-muted">No remaining tasks</h4>
                    </span>
                    {% endif %}
                    {% for task in remaining_tasks %}
                    <div class="list-group-item list-group-item-action bg-light">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">
                                {% if task.complete %}
                                    <em><strike>{{ task.title }}</strike></em>
                                {% else %}
                                    <strong>{{ task.title }}</strong>
                                {% endif %}
                            </h5>
                            <small class="text-muted">Deadline: {{ task.deadline | date:"D f A, d M Y"}}</small>
                        </div>
                        {{ task.description }}
                        <br>
                        <div class="d-flex w-100 justify-content-between">
                            <div>
                                <small class="text-muted">Created: {{ task.created | date:"D f A, d M Y" }}</small>
                            </div>
                            <div>
                                <a href="{% url 'view_task' task.id %}">View</a>
                                <a href="{% url 'edit_task' task.id %}">Edit</a>
                                <a href="{% url 'delete_task' task.id %}">Delete</a>
                            </div>
                            
                        </div>
                        
                    </div>
                    {% endfor %}
                </div>
                
                <div class="tab-pane list-group fade" id="completed-tasks">
                    {% if completed_tasks|length == 0 %}
                    <span class="d-flex justify-content-center">
                        <h4 class="text-muted">No completed tasks</h4>
                    </span>
                    {% endif %}
                    {% for task in completed_tasks %}
                    <div class="list-group-item list-group-item-action bg-light">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">
                                {% if task.complete %}
                                    <em><strike>{{ task.title }}</strike></em>
                                {% else %}
                                    <strong>{{ task.title }}</strong>
                                {% endif %}
                            </h5>
                            <small class="text-muted">Deadline: {{ task.deadline | date:"D f A, d M Y"}}</small>
                        </div>
                        {{ task.description }}
                        <br>
                        <div class="d-flex w-100 justify-content-between">
                            <div>
                                <small class="text-muted">Created: {{ task.created | date:"D f A, d M Y" }}</small>
                            </div>
                            <div>
                                <a href="{% url 'view_task' task.id %}">View</a>
                                <a href="{% url 'edit_task' task.id %}">Edit</a>
                                <a href="{% url 'delete_task' task.id %}">Delete</a>
                            </div>
                            
                        </div>
                        
                    </div>
                    {% endfor %}
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}