{% extends 'base.html' %}

{% block title%}
Not authorized
{% endblock %}

{% block content %}
    <div class="jumbotron jumbotron-fluid h-100">
        <div class="container">
            <h1 class="display-4">Not Authorized</h1>
            <p class="lead">
                {% if user.is_authenticated %}
                    Unfortunately, you don't have the requisite security clearance to view this page!
                {% else %}
                    Please login or register to use Taskmaster.
                {% endif %}
            </p>
            <hr class="my-4">
            {% if user.is_authenticated %}
                Please re-login with appropriate user credentials to access this page :)
                <br>
                <a href="{% url 'logout_view' %}" class="btn btn-sm btn-secondary">Logout</a>
            {% else %}
                You can login using an existing account or register and create a new one to use Taskmaster.
                <br>
                <div class="btn-group" role="group">
                    <a href="{% url 'login_view' %}" class="btn btn-sm btn-secondary">Login</a>
                    <a href="{% url 'register_view' %}" class="btn btn-sm btn-primary">Register</a>
                </div>
                {% endif %}
        </div>
    </div>
{% endblock %}
